<H4>Cadastro de cliente</H4>
<form>
    codigo:<input type="number" id="codigo" required><br>
    nome:<input type="text" id="nome" required pattern="[A-z\s]{6,100}"><br>
    email:<input type="email" id="email" required><br>
    telefone:<input type="text" id="telefone" pattern="[0-9]{4,5}-[0-9]{4}"><br>
    documento:<input type="text" id="documento"><br>
    endereço:<textarea id="endereco" rows="5" cols="50"></textarea><br>
    senha:<input type="password" id="senha" required pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$*&@#])[0-9a-zA-Z$*&@#]{8,}$/"><br>
    confirmação de senha:<input type="password" id="confirma" required  pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$*&@#])[0-9a-zA-Z$*&@#]{8,}$/"><br>
    <input type="checkbox" id="autorizo">autorizo o envio de mensagem
    e ofertas<br>
    <button>gravar</button>
</form>
