<h3>Fale Conosco</h3>
<form>
    nome: <input type="text" id="nome" required placeholder="Informe o seu nome completo:"
    pattern="[A-z\s]{6,100}"><br>
    email: <input type="email" id="email" required placeholder="Informe o seu e-mail:"><br>
    idade: <input type="number" id="idade" min="16" max="100" required><br>
    assunto:<select id="assunto">
                <option>Sobre um pedido</option>
                <option>Sobre um produto</option>
                <option>Sobre seu cadastro</option>
                <option>Reclamação e dúvidas</option>
            </select><br>
    telefone:<input type="text" id="telefone" required pattern="[0-9]{4,5}-[0-9]{4}"><br>
    mensagem:<textarea id="mensagem" rows="5" cols="50"></textarea><br>
    deseja receber uma cópia desse e-mail?
        <input type="radio" id="RecebeSim" name="copia">Sim 
        <input type="radio" id="RecebeNao" name="copia">Não<br>  
    Quais as formas de contato você autoriza?
        <input type="checkbox" id="contatoEmail"> e-mail
        <input type="checkbox" id="contatoTelefone"> Telefone
        <input type="checkbox" id="contataWhatsapp"> Whatsapp
        <input type="checkbox" id="contataCarta"> Carta <br>
    Qual a nota que você dá para a nossa loja?
        <input type="range" id="nota" min="0" max="5" step="1"><br>
        
    <button>Enviar</button>    
</form>